@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
    font-family: "Raleway", sans-serif;
}

.container {
    /* position: absolute;
    width: 1024px;
    height: 800px; */
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.title {
    position: relative;
    background-color: #23445566;
    color: #fff;
    padding: 20px;
    font-size: 1.8em;
    border-radius: 5px;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.quizzBox {
    position: relative;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
}

.answerBtn {
    position: relative;
    padding: 8px;
    background-color: rgb(71, 67, 13);
    display: inline-block;
    margin: 20px;
    outline: none;
    border: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}

.score {
    width: 1024px;
    font-size: 3em;
    text-align: center;
}