<!DOCTYPE html>
 <html>
     <head>
         <meta charset="UTF-8">
         <title>{% block title %}Welcome!{% endblock %}</title>
         {% block stylesheets %}
                {# Get css from build from webpack #}
                {{ encore_entry_link_tags('app') }}

         {% endblock %}
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     </head>
     <body>
         {% block body %}{% endblock %}
         {% block javascripts %}
         {# get app.js from folder build #}
         {{ encore_entry_script_tags('app') }}
             
         {% endblock %}
     </body>
